.details{
    display: flex;
    flex-wrap: nowrap;
}
.details > div:nth-child(1){
    width: 300px;
    margin: 10px;
  }
  .details > div:nth-child(2) {
    width: 900px;
    margin: 10px;
  }
  .details > div:nth-child(3) {
    width: 300px;
    margin: 10px;
  }

  .left-pannel {

  }
  
  .left-pannel-back{
      cursor: pointer;
      margin: 8px 0 0 24px;
      height:24px;
      
  }

  .rating-yellow{
      color:yellow;
  }
  .rating-black{
      color:black;
  }